[submodule "frontend/ai-rate-my-resume"]
	path = frontend/ai-rate-my-resume
	url = git@github.com:ishaksebsib/ai-rate-my-resume.git
[submodule "ai-rate-my-resume"]
	path = ai-rate-my-resume
	url = git@github.com:ishaksebsib/ai-rate-my-resume.git
